<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.madebyatomicrobot.vinyl.samples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="com.madebyatomicrobot.vinyl.samples.planets"
            android:name=".PlanetContentProvider"
            android:exported="false" />

    </application>

</manifest>
